.icon-baofei{
    background: url("assets/icon/baofei.png");
}
.icon-baojia {
    background: url("assets/icon/baojia.png");
}
.icon-baoming {
    background: url("assets/icon/baoming.png");
}
.icon-baoxiao {
    background: url("assets/icon/baoxiao.png");
}
.icon-caigou {
    background: url("assets/icon/caigou.png");
}
.icon-chuhuodan {
    background: url("assets/icon/chuhuodan.png");
}
.icon-gongdan {
    background: url("assets/icon/gongdan.png");
}
.icon-jiamubiao {
    background: url("assets/icon/jiamubiao.png");
}
.icon-kucun {
    background: url("assets/icon/kucun.png");
}
.icon-pandian {
    background: url("assets/icon/pandian.png");
}
.icon-qudao {
    background: url("assets/icon/qudao.png");
}
.icon-shangjiadan {
    background: url("assets/icon/shangjiadan.png");
}
.icon-sunyi {
    background: url("assets/icon/sunyi.png");
}
.icon-xiaoshou {
    background: url("assets/icon/xiaoshou.png");
}
.icon-yunying {
    background: url("assets/icon/yunying.png");
}