/* input框，只带下划线，带点击动画*/
input[type="text"]{
	background: rgb(250,250,250);
	border: none;
	border-bottom: 0.0625rem solid rgb(84,92,100);
	width: 20em;
	font-size: .8em;
	height: 2em;
	position: relative;
}
input[type="password"]{
	background: rgb(250,250,250);
	border: none;	
	border-bottom: 0.0625rem solid rgb(84,92,100);
	width: 20em;
	font-size: .8em;
	height: 2em;
	position: relative;
}
/* input focus */
input[type="text"]:focus{
	outline: none;	/* 清除input框原本效果 */
/* 	background: rgb(238,238,238);
	border: none; */
	border-bottom: 0.125rem solid rgb(102,175,233);
	box-shadow: 0rem 0.125rem 0.1rem rgba(102,175,233,0.5);
	transition: box-shadow .5s;
}
input[type="password"]:focus{
	outline: none;
	/* background: rgb(238,238,238);
	border: none; */
	border-bottom: 0.125rem solid rgb(102,175,233);
	box-shadow: 0rem 0.125rem 0.1rem rgba(102,175,233,0.5);
	transition: box-shadow .5s;
}

