#Header {
	color:rgba(255,255,255,1);
	
}
#ScrollContent {
	padding:2.69em 0em 0em 0em;
}
.uinn-at4{
    padding: 2.69em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 2.69em !important;
}
.uinn-a4{
    padding:2.69em .5em 0 !important;
}
 .user-head {
    background-color: #EEEEEE;
    width: 100%;
    height: 10em;
 }
 .container {
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userImg {
    width:6em;
    height:6em;
    background: url(../../index/img/touxiang.png) no-repeat;
    background-size: cover;
}
.userTalk {
    padding-top:0.5em;
}
div.panel {
text-align:left;
background:white;
/*border:solid 1px #c3c3c3;*/
/*height:11em;*/
}
.panel1 {
    display: none;
}
.panel2 {
    display: none;
}
