#Header {
	color:rgba(255,255,255,1);
	
}
#ScrollContent {
	padding:2.69em 0em 0em 0em;
}
.uinn-at4{
    padding: 2.69em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 2.69em !important;
}
.uinn-a4{
    padding:2.69em .5em 0 !important;
}
.t-gra-infor{
	color:#626262;
}

.uinn-infor1{
	padding:0.375em 0.83em;
}
.uw-infor{
	width:4em;
}
.uwh-infor{
	width:2em;
	height:2em;
}
.umar-r-infor{
	margin-right:1em;
}

.lin-hei1{
	line-height:1.3em;
}
.c-gra-infor{
	background-color:#c0c0c0;
}
.goods-infor1{
	background-image:url('myImg/goods1.png');
}
.uinn-a6{
	padding:1em 0.65em 0 0.65em;
}
.umar-ar4{
	margin-right:0.3125em;
}
.uinn-a9{
	padding:0.75em 0.625em;
}
.ulev-app1{
    font-size:0.875em;
}
.uinn-a1{
    padding:0.625em;
}
.t-red1
{
    color:#de1010;
}
.c-wh
{
    background-color:#FFF;
}
.t-gre1{
    color: rgb(47, 255, 89);
}
.inputtext1 {
    width: 10em;
    height: 5em;
}
.inputtext2 {
    width: 10em;
    height: 5em;
}
div.panel {
text-align:left;
background:white;
/*border:solid 1px #c3c3c3;*/
height:12em;
}
div.flip {
    margin:0px;
    padding:5px;
}
