.diy-page{
    background: rgb(250,250,250) !important;
}
.diy-header{
    background: rgb(250,250,250) !important;
    color: rgb(39,39,39) !important;
    /*border: none !important;*/
}

.page_content{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register_form{

}